<h1 class="animated fadeIn fast">Palabra de busqueda <small>{{ texto }}</small></h1>
<hr>
<div class="row" *ngIf="heroes.length == 0">
  <div class="col-md-12 alert alert-warning">
    No tiene resultados
  </div>
</div>
<div  class="card-columns animated fadeIn fast">
  <div class="card" *ngFor="let heroe of heroes; let i = index">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
      <h4 class="card-title">{{heroe.nombre}}</h4>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">aparcio en: {{heroe.aparicion}}</small></p>

      <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block" name="button">Ver mas....</button>
      <!--<a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block"> Ver más....</a>-->
    </div>
  </div>
</div>
